@charset "UTF-8";

    {
    margin: 0px;
    padding: 0px;
    }

html, body

    {
        min-height: 100vh;
        background-color: rgb(80, 70, 70);
    }

header

    {
        background-color: black;
        text-align: center;
    }

header h1

    {
        padding-top: 50px;
        font-variant: small-caps;
        color: rgb(76, 124, 255);
    }

header h2

    {
        padding-top: 50px;
        font-variant: small-caps;
        color: rgb(213, 76, 255);
    }

header > p

    {
        padding-bottom: 50px;
        color: rgb(218, 215, 215);
    }

a 
    {
        color: rgb(218, 215, 215);
        text-decoration: none;
        font-weight: bolder;
    }

a:hover 

    {
        text-decoration: underline;
    }

footer

    {
        background-color: black;
        text-align: center;
        color: rgb(218, 215, 215);
        padding: 10px;
    }